*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    align-items: center;
    padding: 0.3cm 0cm;
    justify-content: space-around;
    background-color: rgb(233, 233, 233);
}

header h1{
    font-size: 1cm;
    display: flex;
    color: red;
}

header p{
    font-size: 1cm;
    color: black;
}

header nav input {
    width: 5cm;
    height: 0.7cm;
    border-radius: 0.2cm;
    border: 0;
}

section article{
    overflow-y: scroll;
    border: 1px solid rebeccapurple;   
    display: flex;
    margin: 0.3cm 0;
    padding: 0.3cm;
}

section article div{
    display: inline-block;
    font-size: 1cm;
    margin-left: 0.5cm;
    border: 1px solid black;
}

.conteine1{
    display: flex;
}

.conteine2{
    display: flex;
    margin-top: 1cm;
}

.bloco1{
    display: inline-block;
    margin: auto;
    margin-top: 0.1cm;
    width: 7cm;    
    height: 5cm;
    background-color: rgba(200, 200, 200, 0.274);
}

@media(max-width: 700px){
    .bloco1{
        margin: 5px;
        width: 5cm;    
        height: 3cm;
    }
}